<!DOCTYPE html>
<html>
<head>
    <title>Gallery Page</title>
</head>
<body>
    <h1>Gallery Page</h1>
    <!-- <form action="/gallery/animal" method="get">
        <button type="submit">동물 갤러리</button>
    </form>
    <form action="/gallery/food" method="get">
        <button type="submit">음식 갤러리</button>
    </form>
    <form action="/gallery/human" method="get">
        <button type="submit">사람 갤러리</button>
    </form>
    <form action="/gallery/nature" method="get">
        <button type="submit">자연 갤러리</button>
    </form>
    <form action="/gallery/etc" method="get">
        <button type="submit">기타 갤러리</button>
    </form> -->

    <form action="/gallery/all" method="get">
        <button type="submit">사진</button>
        <p>{{ images_count }}장</p>
    </form>

    <form action="/gallery/seperate" method="get">
        <button type="submit">분류시작</button>
    </form>
</body>
</html>
